:root {
  --background-primary: #999999;
  --text-primary: #111111;
  --color2: #777777;
  --color3: #555555;
  --color4: #333333;
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 50px;
}

.site-content {
  flex: 1;
}

.header-container {
  background: var(--background-primary);
  /*  border-bottom: 1px solid #000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.logo img {
  width: 58px;
  height: 45px;
}

.logo a {
  color: var(--text-primary);
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
}

.navlinks {
  display: flex;
  align-items: center;
}

.navlinks a {
  color: var(--text-primary);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.navlinks img {
  width: 36px;
  height: 36px;
}

.copyright {
  font-size: 18px;
  font-weight: 700;
}

.introduction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 40px;
}

.introduction {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.introduction h2 {
  margin: 0px;
}

.introduction p {
  font-size: 20px;
  margin: 0px;
}

.photo {
  display: flex;
  align-items: center;
}

.photo img {
  width: 280px;
  border-radius: 10px;
}

.projects-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.projects {
  font-size: 28px;
  max-width: 800px;
  width: 100%;
}

.about-article {
  display: flex;
  gap: 100px;
  margin: 0 auto;
  max-width: 700px;
}

.about-story {
  max-width: 500px;
}

.about-experience {
  width: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience p {
  margin: 0;
}

.my-story {
  flex-direction: column;
}

.work-experience {
  flex-direction: column;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.contact-form .form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-form,
.contact-form label,
.contact-form input,
.contact-form textarea {
  font-size: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.button {
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  background: var(--background-primary);
  color: var(--text-primary);
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.25s all ease-in-out;
}

.button:hover {
  background: var(--color2);
}

.button:focus {
  background: var(--color2);
}

.footer-container {
  background-color: var(--background-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 40px;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}
