h1 {
    font-size: 4rem;
    color: hsl(0, 0%, 35%);
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

a{
    text-decoration: none;
}

.navigation
{
    font-size: 50px;
}

.social-media
{
    color: hsl(0, 0%, 35%);
}
.social-media:hover
{
    background: hsl(0, 0%, 35%);
    color: currentColor;
}