body {
  font-family: sans-serif;
}

h1 {
  font-size: 4rem;
  color: hsl(0, 0%, 35%);
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

a {
  text-decoration: none;
}

.navbar {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
}

.logo {
  width: 58px;
  height: 45px;
}

.navlinks {
  display: flex;
  align-items: center;
}

.navlinks a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.navlinks img {
  width: 36px;
  height: 36px;
}

.footer-container {
  background-color: rgb(116, 116, 116);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 40px;
}

.copyright {
  font-size: 18px;
  font-weight: 700;
}

.photo {
  height: 477px;
  width: 365px;
  border-radius: 10px;
}

.about-content {
  display: flex;
  flex-direction: row;
}

.my-story {
  flex-direction: column;
}

.work-experience {
  flex-direction: column;
}
